.map { 
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 48px);
}

/* .leaflet-popup-content-wrapper {
  text-align: center;
} */
